/* .mainContainer {
    display: flex;
} */

.sidebar {
  min-width: 150px;
  margin-right: 20px;
}

.sidebar > ul {
  list-style-type: none;
}

.sidebar a {
  cursor: pointer;
}

.sidebar a:hover {
  background-color: grey;
}

/* .markdown-body table {
  width: fit-content;
} */

article {
  overflow: scroll;
}

.markdown-body {
  word-wrap: normal;
}
